{% extends 'base.html' %}

{% block title %} Formulario {% endblock %}


{% block content %}
    <form action="creaalta" method="post">
        <div class="field">
            <label for="fecha">Fecha:</label>
            <input type="date" name= "fecha">
        </div>
        <div class="field">
            <label for="concepto">Concepto:</label>
            <input type="text" name="concepto" placeholder="Concepto">
        </div>
        <div class="field">
            <label for="number">Cantidad:</label>
            <input type="number" name="cantidad" step="0.01" placeholder="Importe">
        </div>
        <div class="field">
            <input type="submit" value='&check;'>
        </div>
    </form>

{% endblock %}