{% extends 'base.html' %}

{% block title %} Mis movimientos {% endblock %}

{% block mi_precioso_bloque_de_formato %}
<form action="creaalta" method="post">
    <div class="field">
        {{ form.fecha.label }}
        {{ form.fecha(type="date") }}
        {% if form.fecha.errors %}
            {% for msg in form.fecha.errors %}
                <p class= "err-msg">
                    {{ msg}}
                </p>
            {% endfor %}
        {% endif %}
        
        
    </div>
    <div class="field">
        {{ form.concepto.label }}
        {{ form.concepto }}
        {% if form.concepto.errors %}
            {% for msg in form.concepto.errors %}
                <p class= "err-msg">
                    {{ msg}}
                </p>
            {% endfor %}
        {% endif %}
    </div>
    <div class="field">
        {{ form. cantidad.label }}
        {{ form.cantidad }}
        {% if form.cantidad.errors %}
            {% for msg in form.cantidad.errors %}
                <p class= "err-msg">
                    {{ msg}}
                </p>
            {% endfor %}
        {% endif %}
    </div>
    <div class="field">
        {{ form.submit }}
    </div>  
</form>
{%  endblock %}