<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Mis movimientos - {% block title%}{% endblock %}</title>

    <link href="/static/css/style.css" rel="stylesheet" >
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

</head>
<body class='content'>
    <header class='encabezado'>
        <p> 
            <br>
            <br>
            <br>
            Mis movimientos - Kakeibo
            <br>
            <br>
            <br>
        </p>    
    </header>

    <section class='container'>
        <br>
        {% block mi_precioso_bloque_de_formato %}{% endblock %}
    </section>

    <footer class='footer'>
        &copy; 2020 -2021. Todos los derechos reservados
    </footer>
</body>
</html>