{% extends 'base.html' %}

{% block title %} Mis movimientos {% endblock %}

{% block mi_precioso_bloque_de_formato %}
    <h1>Ingresos mensuales</h1>
    {% if datos|length > 0 %}
        <table>
            <tr>
                <th>Fecha</th>
                <th>Concepto</th>
                <th>Importe</th>
                <th>Modificar/Borrar</th>
            </tr>
        {% for registro in datos %}
            <tr>
                <td>{{ registro['fecha'] }}</td>
                <td>{{ registro['concepto'] }}</td>
                <td>{{ registro['cantidad'] }}€</td>
                <td><a class= boton href="modifica/{{ registro['id'] }}">&#x1f5d8</a>
                    <a class= boton href= "delete/{{ registro['id'] }}" onclick="myFunction()">&#x2613</a></td>
                    <script>
                    function myFunction() {
                    confirm("Estas seguro?");
                    }
                    </script>
            </tr>
        {% endfor %}
            <tr>
                <td colspan="3">Total: {{total}}€</td>
            </tr>
        </table>
    {% else %}
        <p>No hay movimientos. crea el tuyo</p>
        
    {% endif %}
    <br>
    <a class= boton href="creaalta">Nuevo</a>
    <br>
    <br>
{% endblock %}